@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  background-image: url(./background.png);
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main h1 {
  font-size: 45px;
  font-weight: 500;
  margin-top: -50px;
  margin-bottom: 50px;
}
.main h1 span {
  color: #ec0d88;
  background-color: #f48e9f7d;
  border-radius: 5px;
  padding: 0 3px;
}
textarea {
  width: 600px;
  height: 250px;
  background: #7d79cf8c;
  color: #fff;
  font-size: 16px;
  border: 0;
  outline: 0;
  padding: 20px;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
  
}
textarea::placeholder {
  font-size: 16px;
  color: #ddd;
}
.row {
  display: flex;
  gap: 1rem;
  width: 640px;
}
button {
  background: #c7feff99;
  color: #000;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 2.8rem;
}
select {
  color: #000;
  background: #c7feff99;
  height: 2.8rem;
  padding: 0.1rem;
  outline: 0;
  border: 0;
  border-radius: 10px;
  appearance: none;
  width: 50%;
}
@media (max-width: 642px) {
  .main h1 {
    font-size: 1.8rem;
    width: 250px;
    text-align: center;
  }
  textarea {
    width: 250px;
  }
  .row {
    width: 290px;
  }
  select {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }
}
